body{
	background: Lavender; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left top, Lavender, Cornsilk); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, Lavender, Cornsilk); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, Lavender, Cornsilk); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, Lavender, Cornsilk); /* Standard syntax */
	margin:0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height:100%;
}
a:link{
	color:white;
	stroke: 1px black;
	text-decoration:none;
	text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
}
#container{
	width: 100%;
	text-align: center;	
}
#content{
	display: inline-block;
	max-width: 860px;
}

#content img{
	max-width: 860px;
	height: auto;
}

#funny
{
font-family: "Comic Sans MS";
color: white;
font-size: 30px;
text-shadow: rgba(255, 33, 103,0.9) 0px 0px 50px;
transform: rotate(3deg);
}

.content-item{
	margin-top: 50px;
}

@media (max-width: 850px){
	#funny{
		font-size: 10px;
	}
	#content img{
		max-width: 600px;
	}

